USE [master]
GO
/****** Object:  Database [BD_ALMACEN_CYSTEL]    Script Date: 25/08/2023 15:20:36 ******/
CREATE DATABASE [BD_ALMACEN_CYSTEL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_ALMACEN_CYSTEL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_ALMACEN_CYSTEL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_ALMACEN_CYSTEL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_ALMACEN_CYSTEL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_ALMACEN_CYSTEL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_ALMACEN_CYSTEL]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 25/08/2023 15:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[IDProducto] [int] NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](255) NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
	[CantidadEnStock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACCIONES]    Script Date: 25/08/2023 15:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACCIONES](
	[IDTransaccion] [int] NOT NULL,
	[TipoTransaccion] [nvarchar](10) NULL,
	[IDProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[FechaTransaccion] [datetime] NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTransaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TRANSACCIONES]  WITH CHECK ADD FOREIGN KEY([IDProducto])
REFERENCES [dbo].[PRODUCTOS] ([IDProducto])
GO
USE [master]
GO
